#fondo {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}

#panel_content{
	margin-top: 0px;
	position: relative;
	height: 100%;
}


/*------------------Banner top------------------*/
#banner_top{
	position: fixed;
	margin-top: -16px;	
	
	background: rgb(182,217,222);
	background-image: url(../images/wallpaper5_bubble.jpg);

	height: 130px;

	position: relative;
	margin-left: 10%;
	margin-right: 10%;

	padding: 10px;
	box-shadow: 
}

.shadow_photo
{
	position: relative;
}
.shadow_photo:before, .shadow_photo:after
{
	z-index: -1;
	position: absolute;
	content: "";
	bottom: 18px;
	left: 70px;
	width: 43%;
	top: 80%;
	background: red;
	-webkit-box-shadow: -10px 15px 30px 10px black;
	-moz-box-shadow: -10px 15px 30px 10px black;
	box-shadow: -10px 15px 30px 10px black;
	-webkit-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
	-o-transform: rotate(-2deg);
	-ms-transform: rotate(-2deg);
	transform: rotate(-2deg);
}
.shadow_photo:after
{
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
	-o-transform: rotate(2deg);
	-ms-transform: rotate(2deg);
	transform: rotate(2deg);
	right: 20px;
	left: auto;
}


.shadow_curve
{
	position: relative;
}
.shadow_curve:before, .shadow_curve:after
{
	z-index: -1;
	position: absolute;
	content: "";
	bottom: 15px;
	left: 20px;
	width: 50%;
	top: 80%;
	max-width:400px;
	background: black;
	-webkit-box-shadow: 0 13px 10px 5px black;
	-moz-box-shadow: 0 13px 10px 5px black;
	box-shadow: 0 13px 10px 5px black;
	-webkit-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
	-o-transform: rotate(-2deg);
	-ms-transform: rotate(-2deg);
	transform: rotate(-2deg);
}
.shadow_curve:after
{
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
	-o-transform: rotate(2deg);
	-ms-transform: rotate(2deg);
	transform: rotate(2deg);
	right: 20px;
	left: auto;
}


#logo {
	float: left;	
}

#logo img{
	max-width: 100%;
	max-height: 100%;
}

#menu ul li a{
	position: relative;
	float: right;
}

#menu ul{

	list-style-type: none;
	padding: 0px;
	margin: 0px;
	margin-right: 30px;
	height: 100%;
}

#menu li{
	display: inline;
}

#menu i{
	display: block;
}

#menu a{
	position: fixed;
	display: block;
	text-decoration: none;
	margin-top: 25px;
	font-family: 'Prosto Sans'; 
	font-size: 18px;
	padding: 10px;
	text-align: center;
	line-height: 100%;
	margin-left: 6px;
	color: rgb(66,40,116);
}

#menu span{
	display: block;
	font-size: 15px;
	font-family: 'Lato Regular'; 
}

#menu a:hover{
	/*background: #000000;*/
	/*-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	color: transparent;
	text-shadow: 0px 3px 3px rgba(255,255,255,0.5),0px -1px 1px rgba(0,0,0,.3);*/
	color: rgb(66,40,116);
	background: rgba(255,255,255,0);
}
/*------------------------------------------------------*/


/*------------------Panel de contenido------------------*/
#subcontent{
	z-index: -2;
	margin-top: 30px;
	margin-right: 10%;
	margin-left: 10%;
	padding: 30px;
	/*background: rgb(182,217,222);*/
	background: rgba(182,217,222,0.4);
	/*background: -webkit-radial-gradient(rgb(58,58,58),rgb(46,46,46),rgb(36,36,36),rgb(26,26,26));
    background: -moz-radial-gradient(rgb(58,58,58),rgb(46,46,46),rgb(36,36,36),rgb(26,26,26));*/
}
/*------------------------------------------------------*/

/*------------------All sections------------------*/
#section_banner{
	margin-bottom: 10px;
	height: 70px;
	width: 98%;
	padding-top: 3px;
	padding-left: 20px;
	display: block;
	background: rgba(182,217,222,0.4);
}

#section_banner h1{

	font-family: 'Lato Bold'; 
	font-size: 28px;
	letter-spacing: 1px;
	color: rgb(66,40,116);

}

#subtitle{
	display: block;
}

#subtitle h1{
	font-family: 'Antipasto extralight'; 
	font-size: 25px;
	margin: 0px;
	color: rgb(66,40,116);
}

#hrVertical{
	float: left;
	display: block;
	height: 2px;
	border-top: 2px solid #ABABAB;
	width: 80%;
	margin-top: 10px;
	margin-bottom: 10px;
}

#hrHorizontal{
	margin-left: 3px;
	float:left;
	border-left: 2px solid #ABABAB; 
	width:2px;
	height:100%;
}


/*------------------------------------------------------*/

/*------------------Inicio------------------*/
#galery_photos{
	margin-left: 8%;
	margin-right: 8%;
	z-index: 1;
}

#owl-demo .item img{
    display: block;
    max-width: 100%;
    height: 450px;
}

#legend{
	padding: 10px;
	margin-top: 30px;
	background: rgba(255,255,255,0.08);
	text-align: center;
	font-family: 'Lato Regular';
}

#legend h1{
	position: relative;

	color: rgb(66,40,116);
	font-size: 20px;
}

/*------------------------------------------------------*/

/*------------------Nosotros------------------*/
#double_section{
	margin-top: 10px;
	height: 400px;
}

.clearer {
     clear: both;
}

#text{
	display: block;
	margin-left: 10px;
	margin-right: 10px;
}

#text_important{
	display: block;
	margin-top: 30px;
}

#text_important p{
	font-family: 'Antipasto regular'; 
	font-size: 20px;
	text-align: justify;
	color: rgb(66,40,116);
}

#text_content{
	display: block;
	width: 100%;
}

#text_content p{
	font-family: 'Antipasto regular'; 
	margin: 0px;
	font-size: 17px;
	text-align: justify;
	color: rgb(66,40,116);
}

#photo{
	float: right;
	padding: 20px;
}

#photo img{
	max-width: 100%;
	max-height: 100%;

}


/*------------------------------------------------------*/

/*------------------Galeria------------------*/

#galeryImages{
	width: 100%;
}

#galeryImages img{
	width: 24%;
	margin-left: 5px;
}

/*------------------------------------------------------*/

/*------------------Servicio------------------*/

/*------------------------------------------------------*/

/*------------------Trabajos------------------*/

/*------------------------------------------------------*/

/*------------------Contacto------------------*/
#map_canvas{
	height: 200px;
}

#text_content{
	float: left;
	width: 100%;
	margin-bottom: 15px;
	margin: 0px;
}

#text_content label{
	width: 60%;
}

#input{
	float: left;
	width: 100%;
	margin-bottom: 15px;
	margin-left: 5px;
	font-family: 'Antipasto regular'; 
}

#input p{
	margin: 0px;
	float: left;
	width: 30%;
	color: rgb(66,40,116);
}

#input input{
	width: 70%;
}

#input label{
	display: block;
	margin-left: 30%;
	color: rgb(66,40,116);
}

#input textarea{
	width: 70%;
	resize: none;
	color: rgb(66,40,116);
}

#button{
	float: right;
}

/*------------------------------------------------------*/

/*------------------Banner Down------------------*/
#banner_down {
	position: relative;
	background: rgba(229,50,44,0.7);
	/*background: transparent;*/
	/*background: -webkit-linear-gradient(rgb(30,4,4),rgb(57,8,8),rgb(30,4,4));
    background: -moz-linear-gradient(rgb(30,4,4),rgb(57,8,8),rgb(30,4,4));*/

	margin-left: -12px;
	margin-top: 20px;

    width: 100%;
    height: 60px;

    padding: 10px;

    text-align: center;
}

#banner_down h2 {
	color: white;
	text-indent: 150px;
	
	font-size: 15px;
	font-family: 'Lato Regular';
	float: left
}

#banner_down a h2{
	color: white;
	font-size: 15px;
	font-family: 'Lato Bold';
}

#fb{
	float: right;
	margin-right: 10%;
	margin-top: 8px;	
}


#fb img{
	max-width: 60%;
	max-height: 60%;
}

/*------------------------------------------------------*/

.box-shadow {
	-webkit-box-shadow: 2px 2px 15px 0px rgba(50, 50, 50, 0.61);
	-moz-box-shadow:    2px 2px 15px 0px rgba(50, 50, 50, 0.61);
	box-shadow:         2px 2px 15px 0px rgba(50, 50, 50, 0.61);
}

.half-section{
	width: 47%;
}

.complete-section{
	width: 100%;
}

.left{
	float: left;
}

.definition{
}

/*------------------Fuentes------------------*/
@font-face { 
	font-family: 'HarabaraMaisDemo'; 
	font-style: normal;
	font-weight: 400;
	src: url(http://localhost/Whouse/fonts/HarabaraMaisDemo.otf);
}

@font-face { 
	font-family: 'Ubuntu-Title'; 
	font-style: normal;
	font-weight: 400;
	src: url(http://localhost/Whouse/fonts/Ubuntu-Title.ttf);
}

@font-face { 
	font-family: 'Prosto Sans'; 
	font-style: normal;
	font-weight: 400;
	src: url(http://localhost/Whouse/fonts/Prosto-Sans-Bold.otf);
}

@font-face { 
	font-family: 'Existence Light'; 
	font-style: normal;
	font-weight: 400;


	src: url(http://localhost/Whouse/fonts/Existence-Light.otf);
}

@font-face { 
	font-family: 'Antipasto regular'; 
	font-style: normal;
	src: url(http://localhost/Whouse/fonts/Antipasto_regular.otf);
}

@font-face { 
	font-family: 'Antipasto extrabold'; 
	font-style: normal;
	src: url(http://localhost/Whouse/fonts/Antipasto_extrabold.otf);
}

@font-face { 
	font-family: 'Antipasto extralight'; 
	font-style: normal;
	src: url(http://localhost/Whouse/fonts/Antipasto_extralight.otf);
}

/*@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/KT3KS9Aol4WfR6Vas8kNcg.woff) format('woff');
}*/
@font-face {
  font-family: 'Lato Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}
@font-face {
  font-family: 'Lato Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/wkfQbvfT_02e2IWO3yYueQ.woff) format('woff');
}
/*@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: local('Lato Light Italic'), local('Lato-LightItalic'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/2HG_tEPiQ4Z6795cGfdivD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}*/
/*@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/oUan5VrEkpzIazlUe5ieaA.woff) format('woff');
}*/
/*@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/HkF_qI1x_noxlxhrhMQYED8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}*/

/*------------------------------------------------------*/

body{
	/*background-image: url(images/texture.png);
  	background-repeat:repeat;*/
  	color: white;
}

#fondo{
	z-index: -3;
}